In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
df = pd.read_csv("shampoo.csv")

In [3]:
df.head()

  Month  Sales
0  1-01  266.0
1  1-02  145.9
2  1-03  183.1
3  1-04  119.3
4  1-05  180.3

In [4]:
# tách lay thang 
df["month"] = [str(s.split("-")[0]) for s in df["Month"]]
# tach lay nam 
df["year"] = [int(s.split("-")[1]) for s in df["Month"]]
# tinh Năm
df["month"] = [str('190'+s) for s in df["month"]]
df.head()

  Month  Sales month  year
0  1-01  266.0  1901     1
1  1-02  145.9  1901     2
2  1-03  183.1  1901     3
3  1-04  119.3  1901     4
4  1-05  180.3  1901     5

In [5]:
#Tạo cot từ Year và Month
df["Date"] = [str(y) + '-' + str(m) for y,m in zip(df["year"], df["month"])]
#chuyển đổi cột Date về dạng DateTime
df['Date']=pd.to_datetime(df["Date"])
df.head()

  Month  Sales month  year       Date
0  1-01  266.0  1901     1 1901-01-01
1  1-02  145.9  1901     2 1901-02-01
2  1-03  183.1  1901     3 1901-03-01
3  1-04  119.3  1901     4 1901-04-01
4  1-05  180.3  1901     5 1901-05-01

In [6]:
df.drop(df.columns[[0,2,3]], axis=1, inplace=True)
df.set_index("Date",inplace=True)
df.head()

            Sales
Date
1901-01-01  266.0
1901-02-01  145.9
1901-03-01  183.1
1901-04-01  119.3
1901-05-01  180.3


## tạo tập test

In [7]:
# chuyen va dang value
X = df.values
# tap train la 18 dong dau , test là 18 dong sau
train, test = X[0:-18], X[-18:]

In [8]:
# Scale the data
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(train)

len(scaled_data)

scaled_data

array([[0.67541436],
       [0.12246777],
       [0.29373849],
       [0.        ],
       [0.28084715],
       [0.22651934],
       [0.5179558 ],
       [0.48434622],
       [0.33839779],
       [0.01657459],
       [1.        ],
       [0.30662983],
       [0.34530387],
       [0.13904236],
       [0.41804788],
       [0.70902394],
       [0.33195212],
       [0.77209945]])

In [9]:
#tạo vòng lặp giá trị với 6 ngày một vòng lặp
x_train,y_train=[],[]
for i in range(6,len(scaled_data)):
    # x nhan gia tri tu 1 den 6 và tang dan 2 den 7 ,... mot vong lap
    x_train.append(scaled_data[i-6:i])
    # nhan gia tri của ngay tiep theo  làm du doan
    y_train.append(scaled_data[i])

In [10]:
# cchuyen dl ve kieu array
x_train1 = np.array(x_train)
y_train1 = np.array(y_train)

In [11]:
# dua dl ve mang 1 chieu 
x_train2 = np.reshape(x_train1, (x_train1.shape[0], x_train1.shape[1], 1))
y_train2 = np.reshape(y_train1.shape[0],1)

In [12]:
y_train2 = np.reshape(y_train1, (y_train1.shape[0], y_train1.shape[1], 1))
y_train2

array([[[0.5179558 ]],

       [[0.48434622]],

       [[0.33839779]],

       [[0.01657459]],

       [[1.        ]],

       [[0.30662983]],

       [[0.34530387]],

       [[0.13904236]],

       [[0.41804788]],

       [[0.70902394]],

       [[0.33195212]],

       [[0.77209945]]])

In [13]:
# import thư viện
from keras.models import Sequential
from keras.layers import LSTM,Dense,Dropout,Bidirectional,Embedding
from keras.models import load_model, Model

In [14]:
# Xây dựng mạng nơ-ron đơn giản
model_lstm = Sequential()
#Xây dungje lớp mạng nơ-ron LSTM với số chiều là 64
model_lstm.add(LSTM(64,input_shape =(x_train1.shape[1], 1),return_sequences=True))
# dropout trách việc học tủ của mạng 
model_lstm.add(Dropout(0.2))
model_lstm.add(Dense(1))
# Sai số toàn phương trung bình mse
# Sai số toàn phương trung bình mean_squared_error
model_lstm.compile(loss = 'mse')
model_lstm.summary()

# mạng nơ- ron học 
model_lstm.fit(x_train2,y_train2,epochs = 10)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 6, 64)             16896

 dropout (Dropout)           (None, 6, 64)             0

 dense (Dense)               (None, 6, 1)              65

=================================================================
Total params: 16,961
Trainable params: 16,961
Non-trainable params: 0
_________________________________________________________________
Epoch 1/10
1/1 [==============================] - 3s 3s/step - loss: 0.2688
Epoch 2/10
1/1 [==============================] - 0s 9ms/step - loss: 0.2386
Epoch 3/10
1/1 [==============================] - 0s 11ms/step - loss: 0.2155
Epoch 4/10
1/1 [==============================] - 0s 12ms/step - loss: 0.1979
Epoch 5/10
1/1 [==============================] - 0s 11ms/step - loss: 0.1815
Epoch 6/10
1/1 [==============================] - 0s 12ms/step - loss: 0.1724
Epoch 7/10
1/1 [==============================] - 0s 11ms/step - loss: 0.1626
Epoch 8/10
1/1 [==============================] - 0s 9ms/step - loss: 0.1535
Epoch 9/10
1/1 [==============================] - 0s 10ms/step - loss: 0.1422
Epoch 10/10
1/1 [==============================] - 0s 12ms/step - loss: 0.1334

## thực hiện test

In [15]:
# Scale the data
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))
scaled_data_test = scaler.fit_transform(test)
len(scaled_data_test)

scaled_data_test

array([[0.        ],
       [0.17017544],
       [0.14013158],
       [0.42894737],
       [0.08442982],
       [0.25504386],
       [0.24934211],
       [0.47017544],
       [0.19714912],
       [0.46776316],
       [0.38442982],
       [0.46359649],
       [0.76644737],
       [0.39824561],
       [1.        ],
       [0.54671053],
       [0.77916667],
       [0.92302632]])

In [16]:
#tạo vòng lặp giá trị với 6 ngày một vòng lặp
x_test,y_test = [],[]
for i in range(6,len(scaled_data_test)):
    # x nhan gia tri tu 1 den 6 và tang dan 2 den 7 ,... mot vong lap
    x_test.append(scaled_data[i-6:i])
    # nhan gia tri của ngay tiep theo  làm du doan
    y_test.append(scaled_data[i])
    
# cchuyen dl ve kieu array
x_test1 = np.array(x_test)
y_test1 = np.array(y_test)


# dua dl ve mang 1 chieu 
x_test2 = np.reshape(x_test1, (x_test1.shape[0], x_test1.shape[1], 1))
y_test2 = np.reshape(y_test1, (y_test1.shape[0], y_test1.shape[1], 1))

In [18]:
predictions = model_lstm.predict(x_test2)
predictions = scaler.inverse_transform(predictions)
predictions

1/1 [==============================] - 0s 22ms/step

ValueError: Found array with dim 3. Estimator expected <= 2.